@import '../../../abstracts/colors';

.trailer {
    iframe {
        border: none;
        background-color: $background-principal;
        padding: 40px;
        width: 100%;
        height: 100vh;
    }
}

@media screen and (max-width: 600px) {
    .trailer {
        iframe {
            padding: 0;
            height: 240px;
        }
    }
}