@import '../../../abstracts/colors';

section {
    iframe {
        border: none;
        background-color: $background-principal;
        padding: 40px;
        width: 100%;
        height: 100vh;
    }
}

@media screen and (max-width: 600px) {
    section {
        iframe {
            height: 240px;
        }
    }
}